### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
.idea/

# ------------------------------
# GitHub Actions (lokalne tymczasowe pliki)
# ------------------------------
.github/workflows/*.tmp
.github/workflows/*.bak
.github/workflows/*.yml